<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.BoardMapper">
	<select id="selectBoardList" resultType="Board">
	      SELECT         b_id as bId,
				                 b_title as bTitle,
				                 b_content as bContent,
				                 b_writer as bWriter,
				                 b_datetime as bDateTime
	      FROM            lc_board
	   </select>
	 
	 <insert id="writeBoard" parameterType="Board">
	 	INSERT INTO lc_board(
	 		b_title,
	 		b_content,
	 		b_writer
	 	)VALUES(
	 		#{bTitle},
	 		#{bContent},
	 		#{bWriter}
	 	)
	 	<selectKey keyProperty="b_idx" resultType="int" >
  			UPDATE lc_board SET b_group=LAST_INSERT_ID() WHERE b_id=LAST_INSERT_ID()
		</selectKey>
	 	
	 	
	 	 <!--  my batis last_insert_id , selectkey기능 쓰기  -->
	 </insert>  
	   
</mapper>

