<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.BoardMapper">
	
	
	<select id="selectBoardList" parameterType="int" resultType="Board">
	      SELECT 		         b_id as bId,
				                 b_title as bTitle,
				                 b_content as bContent,
				                 b_writer as bWriter,
				                 b_datetime as bDateTime,
				                 b_depth    as bDepth,
				                 @ROWNUM:=@ROWNUM-1 AS ROWNUM
	      FROM            lc_board ta
		  INNER JOIN (SELECT @rownum := (SELECT	COUNT(*)-#{pageNum}+1 FROM lc_board )) tc ON 1=1
		  WHERE 1=1
		  ORDER BY b_group desc, b_order asc, b_depth asc	
     	  LIMIT			#{pageNum}, 5	
	   </select>
	 
	 <insert id="writeBoard" parameterType="Board">
	 	INSERT INTO lc_board(
	 		b_title,
	 		b_content,
	 		b_writer,
	 		t_upload
	 	)VALUES(
	 		#{bTitle},
	 		#{bContent},
	 		#{bWriter},
	 		#{tUpload}
	 	)
	 	
			 <selectKey keyProperty="bId" resultType="Board"> 
			  	  SELECT       b_id					as bId 
			      FROM         lc_board 
			      WHERE        b_id=LAST_INSERT_ID()
			</selectKey>
			 	
	 </insert>  

	
	 <update id="setGroup" parameterType="Board"> 
	 UPDATE lc_board SET b_group=LAST_INSERT_ID() WHERE b_id=LAST_INSERT_ID()
	 </update>	
	 
	 <select id="readBoard"  parameterType="Board"  resultMap="setBoard">
 	 
 	  SELECT       ta.b_id					 ,
 	  			   b_title				,
 				   b_content	  		,
 				   b_writer				,
 				   b_datetime 			,
 				   b_group				,
 				   b_order				,
 				   b_depth			,
 				   tb.t_upload ,
 				   tb.t_fileName
      FROM         lc_board ta
      LEFT JOIN  lc_upload tb
      ON 		ta.b_id=tb.b_idx	
      WHERE        ta.b_id=#{bId}
   </select>
	
	<resultMap id="setBoard" type="Board">
		<id property="bId" column="b_id"/>
		<result property="bTitle" column="b_title"/>
	    <result property="bContent" column="b_content"/>
	    <result property="bDateTime" column="b_datetime"/>
	    <result property="bWriter" column="b_writer"/>
	    <result property="bGroup" column="b_group"/>
	    <result property="bOrder" column="b_order"/>
	    <result property="bDepth" column="b_depth"/>
		
		<collection property="uploadfiles" ofType="upload"> <!-- uploadfiles(board안에있는 리스트) ofType(리턴타입)  -->
			<id property="t_idx" column="tIdx"/>
			 <result property="tUpload" column="t_upload"/>
			 <result property="tFileName" column="t_fileName"/>
		</collection>
		
	</resultMap>
	
	
	 <select id="countBoard" resultType="int">
    	SELECT COUNT(*)  FROM lc_board
    	
    	 <where>
            <if test="search.select == ''">
                1=1
            </if>
            <if test="search.select == 'b_title'">
                b_title like '%${search.keyword}%'
            </if>
            <if test="search.select == 'b_content'">
                b_title like '%${search.keyword}%'
                OR b_content like '%${search.keyword}%'
            </if>
            <if test="search.select == 'b_writer'">
                b_writer like '%${search.keyword}%'
            </if>
        </where>
    	
	</select>	
	
	<update id="editBoard" parameterType="Board">
		UPDATE lc_board
		SET b_title=#{bTitle},
			b_content=#{bContent}
		WHERE b_id=#{bId}	
	</update>
	
    <delete id="deleteBoard">
    	delete from lc_board where b_id=#{bId}
    </delete>   
    
     <insert id="replyBoard" parameterType="Board">
	 	INSERT INTO lc_board(
	 		b_title,
	 		b_content,
	 		b_writer,
	 		b_group,
	 		b_order,
	 		b_depth
	 	)VALUES(
	 		#{bTitle},
	 		#{bContent},
	 		#{bWriter},
	 		#{bGroup},
	 		#{bOrder}+1,
	 		#{bDepth}+1
	 	)
    </insert>
	
	<update id="setReply" parameterType="Board">
		UPDATE lc_board 
		SET b_order=b_order+1 
		WHERE b_group = #{bGroup} and b_order>=#{bOrder} and b_id!=last_insert_id()
	</update>

    <select id="searchBoardList"  resultType="Board">
          SELECT                 b_id as bId,
                                 b_title as bTitle,
                                 b_content as bContent,
                                 b_writer as bWriter,
                                 b_datetime as bDateTime,
                                 b_depth    as bDepth,
                                 @ROWNUM:=@ROWNUM-1 AS ROWNUM
          FROM            lc_board ta
          INNER JOIN (SELECT @rownum := (SELECT COUNT(*)-#{pageNum}+1 FROM lc_board )) tc ON 1=1
         
          <where>
            <if test="search.select == ''">
                1=1
            </if>
            <if test="search.select == 'b_title'">
                b_title like '%${search.keyword}%'
            </if>
            <if test="search.select == 'b_content'">
                b_title like '%${search.keyword}%'
                OR b_content like '%${search.keyword}%'
            </if>
            <if test="search.select == 'b_writer'">
                b_writer like '%${search.keyword}%'
            </if>
        </where>
        
          ORDER BY b_group desc, b_order asc, b_depth asc   
          LIMIT         #{pageNum}, 5   
       </select>	
	
	
	
</mapper>