<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.CommentMapper">
    
    
    <select id="selectCommentList"  resultType="Comment">
          SELECT                 c_id as cId,
                                 c_content as cContent,
                                 c_writer as cWriter,
                                 c_datetime as cDateTime,
                                 c_depth    as cDepth,
                                 c_group	as cGroup,
                                 c_order	as cOrder,
                                 c_depth	as cDepth,
                                 @ROWNUM:=@ROWNUM-1 AS ROWNUM
          FROM            lc_comment ta
          INNER JOIN (SELECT @rownum := (SELECT COUNT(*)-#{pageNum}+1 FROM lc_comment )) tc ON 1=1
          WHERE b_id = #{board.bId}
          ORDER BY c_group desc, c_order asc, c_depth asc   
          LIMIT         #{pageNum}, 5   
       </select>
     
     <insert id="writeComment" parameterType="Comment">
        INSERT INTO lc_comment(
            c_content,
            c_writer,
            b_id,
            u_id
        )VALUES(
            #{cContent},
            #{cWriter},
            #{bId},
            #{username}
        )
        
             <selectKey keyProperty="cId" resultType="Comment"> 
                  SELECT       c_id                 as cId 
                  FROM         lc_comment 
                  WHERE        c_id=LAST_INSERT_ID()
            </selectKey>
                
     </insert>  

    
     <update id="setGroup" parameterType="Comment"> 
     UPDATE lc_comment SET c_group=LAST_INSERT_ID() WHERE c_id=LAST_INSERT_ID()
     </update>  
     
     <select id="countComment" resultType="int">
        SELECT COUNT(*)  FROM lc_comment WHERE b_id=#{bId}
    </select>   
    
    <update id="editComment" parameterType="Comment">
        UPDATE lc_comment
        SET c_content=#{cContent}
        WHERE c_id=#{cId}   
    </update>
    
    <delete id="deleteComment">
        delete from lc_comment where c_id=#{cId}
    </delete>   
    
     <insert id="replyComment" parameterType="Comment">
        INSERT INTO lc_comment(
            c_content,
            c_writer,
            c_group,
            c_order,
            c_depth,
            b_id
        )VALUES(
            #{cContent},
            #{cWriter},
            #{cGroup},
            #{cOrder}+1,
            #{cDepth}+1,
            #{bId}
        )
    </insert>
    
    <update id="setReply" parameterType="Comment">
        UPDATE lc_comment 
        SET c_order=c_order+1 
        WHERE c_group = #{cGroup} and c_order>=#{cOrder} and c_id!=last_insert_id()
    </update>
    
    
    
</mapper>